#title h1 {
    margin: 0;
}

#slipshow-universe #title h2 {
    margin-top: 0;
    font-size: 1.4em;
    color: var(--muted-color);
    font-style: italic;
}

#slipshow-drawing-toolbar {
    display: none;
}

pre {
    margin: 0;
    width: fit-content;
}

.slip-body pre code.hljs {
    padding: 20px;
}

.slipshow-rescaler {
    overflow: visible;
    width: unset;
    height: unset;
    min-width: 0;
}

#sections {
    display: flex;
    flex-direction: row;
}

#title-section .slip-body {
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#outro .slip-body {
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
